<h2>Create New User</h2>
<% #need to set the form as POST and specify the controller %>
<%= form_tag('/create', method: :post) do  %>
<%= label_tag :name %> <br>
<%= text_field_tag :name %> <br>
<%= submit_tag :create %>
<% end  %>
