<h3> Howdy <%= @user.capitalize %>! </h3>

<p>Click <%= link_to "here!", secrets_path %> if you want to get a secret revealed ... or not, is up to you!</p>

<img src="http://cdn.playbuzz.com/cdn/ead7da67-182f-4ebb-83df-3f54dac937ef/06f1e928-015e-439a-bc74-8f0610f9a2db.jpg" alt=""><br></br>
<%= link_to "Log out", logout_path %>
