<h1> Welcome to the index page <%= session[:name] %></h1>
<p>Visit the <%= link_to "secrets page", secrets_path %></p>
<p><%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'></p>
  <% end %>
