<h1> Welcome to the index page <%= session[:name] %></h1>
<p>Visit the <%= link_to "secrets page", secrets_path %></p>
<p><%= link_to 'Click here', session_path(session[:name]), method: :delete, data: { confirm: 'Are you sure?' } %> to log out.</p>
