<h1>Please login to continue...</h1>

<%= form_tag :controller => 'sessions', :action => 'create', :method => 'post' do %>
<p><label>User Name:</label></p>
<p><%= text_field_tag :name %></p>
<%= submit_tag "Login" %>

<% end %>

