<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>
  <%=form_tag sessions_path do %>
  <p>Username <%= text_field_tag :name%></p>
  <%= submit_tag("Create Name")%>
  <%end%>