<% if flash[:alert] %>
  <font color = "red"><%= flash[:alert] %></font>
<% end %>
<br>
<br>

<h1>Welcome, please log in!</h1>

<%= form_tag(sessions_path, method: :post) do %>
  Name: <%= text_field_tag :name %>
  <%= submit_tag "Log In" %>
  <% end %>
