<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The SECRETs</title>
  </head>
  <body>
    <h1>1: 42</h1>
    <br>
    <h1>2: You will do what you think about, even if your thoughts are aversive.</h1>
  </body>
</html>
