<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome, friends!</title>
  </head>
  <body>
    Wanna see a SECRET, <%= @current_user %>?
    <a href="/sessions/secret">The Secret</a>
  </body>
</html>
