<h1>Hi, <%= current_user %> </h1>

<%= link_to "Secret Page", show_path %>

<form method='POST', action="/logout">
  <input name='logout' type="hidden">
  <input type='submit' value='logout'>

</form>