<h2> Welcome to our site,
<%= current_user %> </h2>

<%= link_to "see link", controller: "secrets", action: "show" %>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
