page 2

"Hi, #{:current_user}"

Here's the link to your secret  username


<h1>Hi, <%= session[:current_user] %>.</h1>

<%= form_tag ({controller: 'secrete', action: 'show', method: 'get'}) do %>

 <h3> Today is Monday! </h3>

<% end %>

<%= link_to 'Logout',  logout_path %>
