<h2>The Big Secret</h2>

<iframe src="//giphy.com/embed/Ta1zCPgNNr2GQ" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<p><%= link_to "Homepage", root_path %></p>
