<h1>This is a secret page full of secrets!</h1>

<h2>Hi, <%=session[:name] %>! Did you know:</h2>

<ul>
	<li>The JFK assassination was a massive coverup!</li>
	<li>9/11 was an inside job!</li>
	<li>Lincoln is still alive!</li>
</ul>