<h1>Welcome to the secret page, <%= current_user %>!</h1>

<h2>Here are a few secrets:</h2>

<ol>
  <li>Jesus loves you; pass it on!</li>
  <li>I'm secretly Superman in disguise (jk).</li>
  <li>We once got tadpoles in our above-ground pool. HOW did they get in there?!</li>
  <li>This online coding school has played to my greatest strengths and forced me to confront my greatest weaknesses.</li>
</ol>

<p>This page is a secret, so don't tell anyone! (Well, feel free to spread the first one around; it's a not-so-secret secret!)</p>