  <h3>Morty :</h3>
    <p>"Oh boy Rick. The secret of life, oh gee oh man here goes nothing... Wait... Szechuan Sauce? That's It?"</p>

  <h3>Rick :</h3>
    <p>"Yyya...Ya know...Mmmm...Morty... [belch] sometimes science isn't as magical as you hoped... <br> You know? Just cause it's the answer you didn't want doesn't mean it's wrong mmm...Morty."</p>
