<h1>Welcome <%= session[:name] %>!</h1>
<h3>You are amongst the few who have seen this</h3>

<%= form_tag controller: 'sessions', action: 'destroy', method: 'post' do %>
  <input type="submit" value='logout'>
<% end %>

