<h1>Secrets#show</h1>
<p>Find me in app/views/secrets/show.html.erb</p>
<h1>Hi, <%= session[:name] %>.</h1>
<%= form_tag ({controller: 'sessions', action: 'delete', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>


<input type="hidden" value="delete" name="_method">
<%# <%= link_to 'logout', {controller: 'session', action: 'destroy', method: 'post', id: 'session.id'} %> %>