<h3>where the secret is revealed</h3>

Every time a bad thought comes to mind, notice what about it makes
you feel bad and immediately conjure up the thought that would make you feel good
in that situation. hold that thought in focus, breathe, and move on.

You also don;t need a thought later on. You can simply feel the feeling.
