<p>here is the deepest secret nobody knows<br>
(here is the root of the root and the bud of the bud<br>
and the sky of the sky of a tree called life; which grows<br> 
higher than the soul can hope or mind can hide)<br>
and this is the wonder that's keeping the stars apart<br>
i carry your heart (i carry it in my heart)</p>
<p><em>-ee cummings, "i carry your heart with me"</em></p>