<h1>Krabby Patty Secret Formula:</h1>

<ul>
  <li>Buns</li>
  <li>Meat Patty</li>
  <li>Lettuce</li>
  <li>Onions</li>
  <li>Undersea Cheese</li>
  <li>Pickles</li>
  <li>Ketchup</li>
  <li>Mustard</li>
  <li>Plankton</li>
</ul>


<p><%= link_to "Homepage", homepage_path %></p>

<%= form_tag '/logout' do %>
  <%= submit_tag 'Logout' %>
<% end %>
