<img src="http://www.intriguing.com/mp/_pictures/life/end-end.jpg">

<p>Well, it's nothing very special. Try to be nice to people, avoid eating fat, read a good book every now and then, get some walking in, and try and live together in peace and harmony with people of all creeds and nations.</p>