<h4>Trained pigeons can tell the difference between the paintings of Pablo Picasso and Claude Monet.</h4>
<%= link_to "Home", root_path %>
<hr>
<%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type="submit" value="logout" />
<% end %>
