
<img src="http://1.bp.blogspot.com/-xIyynAoO3Yo/TwRu7MVSK2I/AAAAAAAABOI/7i8lS6VyI8c/s1600/NEW%2BBLOG%2Bheader3TYPE.jpg" alt="">




<p><%= link_to "<< Back", root_path %> | <%= link_to "Log out", logout_path %></p>
