<p>I know how to count all the way to schviftyfive!</p>

<p>And I will tell you how to do it faster than you can say "poopty peupty pants."</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/-XccUMOQ978?rel=0" frameborder="0" allowfullscreen></iframe>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) %>
  <%= submit_tag 'Log out' %>
