<h1>Worldly Secrets</h1>
<p>We've all got both light and dark inside us. What matters is the part we choose to act on. That's who we really are.</p>
<address class="author">- J.K. Rowling, Harry Potter and the Order of the Phoenix</address>
