<%= link_to("Go home already", root_path) %>
<h1>Seecret box. What's inside?</h1>
<iframe src='https://gfycat.com/ifr/AppropriateInexperiencedIvorybilledwoodpecker' frameborder='0' scrolling='no' allowfullscreen width='640' height='535'></iframe>

<h3>A photo of spongebob at the christmas party!</h3>
