<h1>The Secret to Life...</h1>
<h1>TIME</h1>
<ul>
	<li>If you want to sail well, you need to invest in time on the water.</li>  
	<li>If you want to code well, you need to invest in time coding.</li>  
	<li>If you want to finish the Flatiron program in style, you need to invest time in the labs and lessons.</li>
</ul>
<h1>Life Is Time Well Spent</h1>
<h3>Or something like that...</h3>
