<p>Hello again, <%= @username %></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quibusdam consequatur quidem, atque molestiae, autem quaerat quo nihil nulla. Sunt placeat deserunt, eaque repellendus accusantium illum nisi hic. Voluptatum, voluptatibus.</p>