<h1>Hey, <%= session[:name] %>!</h1>

<p>Did you want to know a secret?</p>

<p>Cause I know one, and it is sooooo good to hear it!</p>

<p>You want to know what it shwas? </p>

<p>Alright, <%= link_to "I'll tell you what it shwas", secret_path %>.</p>
