<h1>Hi, <%= session[:name] %>.</h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
or <%= link_to 'check out this secret', secret_path  %>
