<h1>Hi, <%= session[:name] %>.</h1>
<a href="/secrets/show">Here is your secret link </a>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>