<h1>Hi, <%= session[:name] %>.</h1>
<p>Want to know the secret ingredient for my chocolate chip cookies? <%= link_to 'Click here.', '/secret' %></p>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
