<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <p>Welcome, <%= @username %>!</p>
    <p><%= link_to "You are worthy!", secret_path%></p>
  </body>
</html>
