<% if session[:name].nil? %>
  <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <input type="text" name="name" id="name">
    <input type=submit value='login'>
  <% end %>
<% else %>
  <h1>Hi, <%= session[:name] %>.</h1>
  <%= form_tag ({controller: 'secrets', action: 'show', method: 'post'}) do %>
    <input type=submit value='secret'>
    <!-- so instead of a delete button, make link to 'seceret'-->
  <% end %>
<% end %>
