<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<%end%>


<h1>Hi, <%= current_user %>.</h1>

<% if logged_in? %>
<%= link_to "Secret link", secret_path %>
<br>
<br>
<%end%>


<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
