<h1>Welcome <%= session[:name] %></h1>

  <% if logged_in? %>
    <%= render partial: 'layouts/logout' %>
    <%= link_to 'See Secret', secrets_path %>

    <% else %>
    <%= link_to 'login', login_path %>
  <% end %>
