<h1>Welcome! </h1>
<h1>Please <%= link_to "login here", sessions_login_path%> here: </h1>

<h2>Form for Loggin in</h2>
<p>Submit button to redirect </p>

<h1>Or <%= link_to "sign up", sessions_new_user_path%> </h1>
