<h1>Hi, <%= current_user %></h1>
<%= form_tag ({controller: 'sessions', action: 'delete', method: 'post'}) do %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value='logout'>
<% end %>
