<h1>Hi, <%= session[:name] %>.</h1>

<h3>Here is the link to the secret page:</h3>
<%= link_to "Super Secret Page", secrets_show_path %>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
