<h3>Welcome, <%= @user %>!</h3>
<%= link_to "Tell me a secret.", secret_path %>
<hr>
<%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type="submit" value="logout" />
<% end %>
