<h1>Hi <%= @current_user %></h1>
<p>pssst! Wanna see a <%= link_to "secret?", secret_path %></p>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <% end %>
