<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
<h1>Login</h1>
  <label>Username:</label><br>
  <%= text_field_tag :name %><br>

  <input type=submit value='login'>
<% end %>
